/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
        p {
          margin: 0 0 10px 0;
        }

        ul, ol {
            padding-left: 20px;
            margin: 0 0 10px 0;
        }

        ul.no-style li {
            list-style-type: none;
        }


        body {
            background-color: #FFFFFF;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 1.4;
        }

        hr {
            border: none;
            margin: 0;
            height: 8px;
            background-image: url("../img/line.png");
            background-repeat: repeat-x;
        }

        hr.white {
            background-image: url("../img/line-white.png");
        }

        /* add */
        .button {
            font-size: 20px;
            line-height: 1.4;
            padding: 16px 32px;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            margin-top: 50px;
        }

        .button:hover {
            text-decoration: none;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            width: 940px; /* 768px Ipad mini */
        }

        .center-align {
            text-align: center;
        }

        .mb0 {
            margin-bottom: 0;
        }

        .clfx {
            clear: both;
            overflow: auto;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        h1 {
            margin: 0;
        }

        h2 {
            font-size: 30px;
            font-weight: bold;
            line-height: 1.5;
            margin: 0 0 35px;
            text-align: center;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.5;
            text-align: left;
            margin: 0 0 25px;
        }

        /* --------- Styles for block HEADER --------- */
        header {
            background-image: url("../pictures/background.png");
            background-position: right; 
            background-repeat: no-repeat;
            padding: 50px 0 70px;
            position: relative;
        }

        .contacts {
            position: absolute;
            right: 20px;
            text-align: right;
            top: 20px;
        }
            
        .contacts a {
            text-decoration: none;
            color: black;
        }


        .slogan {
            text-align: center;
            padding-top: 100px;
            font-size: 28px;
            font-weight: bold;
        }


        /* --------- Styles for block SLIDER --------- */
        .slider {
            height: 352px; /* !!! */
            overflow: hidden;
        }

        .slider ul {
            padding: 0;
            margin: 0;
        }

        .slider a.center {
            display: block;
            margin: auto;
            width: 940px;
        }

        .bx-controls {
            display: none;
        }

        /* --------- Styles for block INTRO --------- */
        .intro{
            text-align: center;
            padding-top: 50px;
            padding-bottom: 50px;
            font-size: 16px;
            color: #4a4a4a;
        }

        /* --------- Styles for block SERVICES --------- */
        .services {
            background-color: #a1c741;
            padding: 50px 0 40px;
        }

        .services h2 {
            color: #ffffff;
        }

        /*.services ul {
            margin: auto;
            padding: 0;
            width: 900px;
        }*/

        .services li {
            cursor: pointer; 
            display: inline-block;
            margin-bottom: 20px;
            padding: 15px 0 15px 100px;
            vertical-align: middle;
            /*width: 450px;*/
            min-height: 80px;
        }

        .services a {
            color: #414141; /* Ovewriting default styles */
            display: block;
            font-size: 18px;
            text-decoration: none; /* Ovewriting default styles */
        }

        .services a:hover {
            color: #ffffff;
        }

        /*.services p {
            display: inline-block;
            margin: 0;
            padding-top: 10px;
            vertical-align: top;
            width: 300px;
        }*/

        .services-trainigs {
            background: url("../img/trainigs.png") no-repeat center left;
        }

        .services-marketing {
            background: url("../img/marketing.png") no-repeat center left;   
        }

        .services-call-center {
            background: url("../img/services-call-center.png") no-repeat center left;
        }

        .services-consulting {
            background: url("../img/business-consulting.png") no-repeat center left;
        }


        /* --------- Styles for block TRAININGS --------- */
        .trainings {
            padding: 50px 0 70px;
        }

        .trainings h2,
        .trainings h3 {
            color: #1A5088;
        }

        .trainings h3 {
            margin-bottom: 10px;
        }
        
        .training {
            padding: 50px 0;
        }        

        .training-button {
            padding: 10px 35px;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            margin-top: 25px;
            background: #DA7F2F;
            color: white;
            border: 1px solid #da7f2f;

        }

        .training-button:hover {
            background-color: white;
            color: #da7f2f;
            border: 1px solid #da7f2f;
            text-decoration: none;
        }

        a.learn-more {
            background: url("../img/docs.svg") no-repeat bottom right;
            color: black;
            padding-right: 45px;
            text-decoration: none;
        }

        a.learn-more:hover {
            text-decoration: underline;
        }


        /* --------- Styles for block CORPORATE-TRAINING --------- */
        .corporate-training {
            background: #da7f2f;
            padding: 50px 0 70px;
            color: white;
        }

        /* --------- Styles for block ALGORITHM --------- */
        .corporate-algorithm {
            padding: 50px 0 70px;
        }

        .corporate-algorithm h3 {
            color: #1a5088;
        }

        .corporate-algorithm .button {
            background: #da7f2f;
            color: white;
            border: 1px solid #da7f2f;
        }

        .corporate-algorithm .button:hover {
            background-color: white;
            color: #da7f2f;
            border: 1px solid #da7f2f;
        }

        /* --------- Styles for block ABOUT-TRAINER --------- */
        .about-trainer {
            padding: 50px 0 70px;
            background-color: #398a83;
            color: white;
        }

        .about-trainer-img {
            float: right;
            padding-left: 80px;
        }

        .about-trainer hr {
            width: 137px;
        }

        .about-trainer-links {
            margin-right: 35px;
        }

        .about-trainer-links--intro {
            margin: 15px;
        }

        .mb35 {
            margin-bottom: 35px;
        }

        /* --------- Styles for block MAP --------- */
        .map {
            padding-top: 50px;
        }

        .map h2 {
            color: #1a5088;
        }


        /* --------- Styles for block CALL-CENTER --------- */
        .call-center {
            background-color: #97478b;
            padding: 50px 0 70px;
            color: white;
        }

        .call-center .button {
            color: #97478b;
            background: white;
            border: 1px solid white;
        }

        .call-center .button:hover {
            color: white;
            background: #97478b;   
            border: 1px solid white;
        }

        .call-center img {
            float: right;
            padding-left: 80px;
        }


        /* --------- Styles for block EXPRESS-MARKETING --------- */
        .express-marketing {
            padding: 50px 0 70px;
        }

        .express-marketing h2 {
            color: #1a5088;
        }

        .express-marketing .button {
            background: #1a5088;
            border: 1px solid #1a5088;
            color: white;
        }

        .express-marketing .button:hover {
            border: 1px solid #1a5088;
            background: white;
            color: #1a5088;
        }


        /* --------- Styles for block BUSINESS-CONSULTING --------- */
        .business-consulting {
            background-color: #2873ac;
            padding: 50px 0 70px;
            color: white;
        }

        .business-consulting p {
            clear: both;
        }

        .business-consulting img {
            float: right;
            padding-left: 80px;
            padding-bottom: 35px;
        }

        .business-consulting .button {
            background: white;
            color: #2873ac;
            border: 1px solid white;
        }

        .business-consulting .button:hover {
            border: 1px solid white;
            background: #2873ac;
            color: white;
        }


        /* --------- Styles for block FOOTER --------- */
        footer {
            padding: 50px 0;
            background: url("../img/f-pattern.png") no-repeat bottom right;
        }

        footer ul {
            float: right;
        }

        footer ul li {
            display: inline-block;
            padding-left: 10px;
        }

        footer a {
            color: black;
            text-decoration: none;
        }

        footer a:hover {
            color: black;
        }

        footer .address {
            display: inline-block;
        }

        footer .f-logo {
            height: 50px;
            margin-bottom: 35px
        }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 35em) {
    .slider {
        display: none;
    }

    .contacts {
        position: relative;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

}